* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}

.block-wrapper {
  max-width: 1408px;
  width: 100%;
  margin: 3rem auto;
}

.block-wrapper .spd-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.block-wrapper .spd-container .d-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.element-container {
  border: 1px solid green;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 9px;
  width: 4rem;
  height: 5rem;
  background-color: #fff;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.element-container:hover {
  -webkit-transform: scale(2);
          transform: scale(2);
}

.element-container .AN-AM {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.element-container .symbol-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.element-container .symbol-name .symbol {
  font-weight: bold;
  font-size: 16px;
}

.element-container .ec {
  text-align: center;
  padding: 0 2px;
}

.period-one {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin: 0.3rem;
}

.s-block {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 0.3rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

.p-block {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 0.3rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  grid-gap: 10px;
}

.dBlock {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 0.3rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[10];
      grid-template-columns: repeat(10, 1fr);
  grid-gap: 10px;
}

.f-block {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 2rem auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[15];
      grid-template-columns: repeat(15, 1fr);
  grid-gap: 10px;
}
