@import url('https://fonts.googleapis.com/css2?family=Monda&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  transition: all 1s ease;
  font-family: 'Monda', sans-serif;
}

main {
  display: flex;
  justify-content: center;
  // width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.877);
  padding-top: 3rem;
  padding-left: 2rem;
  overflow: hidden;

  .detail-section {
    // border: 1px solid red;
    width: 30rem;
    padding: 0 2rem;
  }
}

// mother-box
.block-wrapper {
  // border: 1px solid red;
  max-width: 1408px;
  width: 100%;

  .spd-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    .d-container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}

// element box
.element-container {
  border: 3px outset lightgrey;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  box-shadow: 3px 0px 10px grey;
  font-size: 9px;
  width: 4.4rem;
  height: 5.3rem;

  &:hover {
    transform: scale(1.5);
  }

  .AN-AM {
    display: flex;
    justify-content: space-around;
  }

  .symbol-name {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;

    .symbol {
      font-weight: bold;
      font-size: 16px;
    }
  }

  .ec {
    text-align: center;
    padding: 0 2px;
  }
}

// period one

.period-one {
  margin: 0.3rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 78.4rem;
}

// the s-block
.s-block {
  height: fit-content;
  margin: 0.3rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2.5px;
}

// the p-block
.p-block {
  height: fit-content;
  margin: 0.3rem;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 2.5px;
}

// the p-block
.dBlock {
  height: fit-content;
  margin: 0.3rem;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-gap: 2.5px;
}

// the p-block
.f-block {
  height: fit-content;
  width: fit-content;
  margin: 2rem 12.2rem;
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  grid-gap: 2.5px;
}

// MODAL
.modal-dialog {
  max-width: 1200px;
  margin: 5rem auto;

  .modal-content {
    height: fit-content;
  }
}

.fas {
  position: fixed;
  top: 0;
  left: 0;
}

#sun {
  color: #fff;
}

// table data
.detail-section {
  border-radius: 10px;
}
.table {
  font-size: 12px;
  box-shadow: 3px 0px 10px grey;
  border-radius: 10px;
  margin-bottom: 0;
  height: 51.8rem;

  thead {
    font-size: 16px;
    color: #000;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    text-align: start;
    background-color: #f39c12;
    text-align: end;
  }

  tbody {
    overflow-wrap: anywhere;
    height: 50rem;
    overflow-y: auto;
    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */

    /* Hide scrollbar for Chrome, Safari and Opera */
    &::-webkit-scrollbar {
      display: none;
    }

    .question {
      font-weight: bold;
      text-align: end;
      text-transform: capitalize;
      color: #000;
      background-color: #f39c12;
    }

    .answer {
      width: 60%;
      text-align: start;
    }
  }
}
